% rebase('bootstrap_base.html')

<body>
<link href="/static/css/cashier.css" rel="stylesheet" media="screen">

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/s_cashier_list">Kevin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/i_cashier">新增</a></li>
                <li><a href="/s_cashier_list">明细</a></li>
                <li><a href="/cashier_future">未来收支</a></li>
                <li><a href="/cashier_report">报表</a></li>
                <li><a href="/settings">设置</a></li>


            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">退出</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container-fluid">{{!base}}</div>



</body>