<label class="checkbox-inline">
    <input type="checkbox" name="date"> 日期

</label>
<label class="checkbox-inline">
    <input type="checkbox" name="client_name"> 客户名称

</label>
<label class="checkbox-inline">
    <input type="checkbox" name="account_name"> 账户名称

</label>
<label class="checkbox-inline">
    <input type="checkbox" name="pay_user"> 操作人员

</label>
<label class="checkbox-inline">
    <input type="checkbox" name="proof_name"> 凭证

</label>
<label class="checkbox-inline">
    <input type="checkbox" name="payable_money"> 应付金额

</label>
<label class="checkbox-inline">
    <input type="checkbox" name="actual_money"> 实付金额

</label>
<label class="checkbox-inline">
    <input type="checkbox" name="money"> 金额

</label>
<label class="checkbox-inline">
    <input type="checkbox" name="cashier_code"> 操作编号

</label> <label class="checkbox-inline">
    <input type="checkbox" name="remark"> 备注

</label>
</label> <label class="checkbox-inline">
    <input type="checkbox" name="is_remind"> 是否提醒

</label>
</label> <label class="checkbox-inline">
    <input type="checkbox" name="paytype_name"> 支付方式

</label>
